<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Site</title>
    <link rel="stylesheet" href="/style.css">

</head>
<%- include('partials/header', {titulo: 'Página login'}) %>
<body>
    <main>
        <h1>login</h1>
    </main>

    <form action="/login" method="POST">
        <div>
            <label for="usuario">usuario</label>
            <br>
            <input type="text" id="usuario" name="usuario">
        </div>
        <br>
        <div>
            <label for="senha">senha</label>
            <br>
            <input type="password" id="senha" name="senha">
        </div>
        <br>
        <a aria-current="page" href="/">Enviar</a>
    </form>

</body>
</html>